Repository hunandika/utilary: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npm run lint
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: npm run format:check
    branch-name:
      run: |
        BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
        if ! echo "$BRANCH_NAME" | grep -E "^(feature|bugfix|hotfix|release|chore)/[a-z0-9-]+$" > /dev/null; then
          echo "‚ùå Branch name '$BRANCH_NAME' does not follow the convention:"
          echo "   feature/feature-name"
          echo "   bugfix/bug-description"
          echo "   hotfix/urgent-fix"
          echo "   release/version"
          echo "   chore/task-description"
          exit 1
        fi

update types to interface
  README.md
  eslint.config.mjs
  src/types.ts
Due: lint, format

update utilary to version 1
  package-lock.json
  package.json
Due: format

optimize testing ci
  .github/workflows/ci.yml
Due: none

Add lefthook, update readme, update redlock autoextend, etc (#2)
  .github/workflows/ci.yml
  README.md
  docker-compose.yaml
  eslint.config.mjs
  examples/basic-usage.ts
  lefthook.yaml
  package-lock.json
  package.json
  src/index.ts
  src/redlock.ts
  src/types.ts
  tests/redlock.test.ts
Due: lint, format

update change log
  CHANGELOG.md
Due: format

fix auto extend locking
  CHANGELOG.md
  README.md
  examples/basic-usage.ts
  package-lock.json
  package.json
  src/redlock.ts
  src/types.ts
  tests/README.md
  tests/redlock.test.ts
Due: lint, format

Bugfix Auto extend locking (#3)
  CHANGELOG.md
  README.md
  examples/basic-usage.ts
  package-lock.json
  package.json
  src/redlock.ts
  src/types.ts
  tests/README.md
  tests/redlock.test.ts
Due: lint, format
